{% extends 'blog/base.html' %}

{% block content %}

<h2 class="mb-4">
    Posts tagged with #{{ view.kwargs.tag_slug }}
</h2>

{% for post in posts %}

    <div class="content-section">

        <h2>
            <a class="article-title"
               href="{% url 'post-detail' post.id %}">
                {{ post.title }}
            </a>
        </h2>

        <div class="article-content">
            {{ post.formatted_markdown|safe }}
        </div>

        <div class="mt-2">
            {% for tag in post.tags.all %}
                <a href="{% url 'tag-posts' tag.slug %}"
                   class="badge bg-success text-decoration-none">
                    #{{ tag.name }}
                </a>
            {% endfor %}
        </div>

    </div>

{% endfor %}

{% endblock %}